
a:link { text-decoration: none; }
header {
  background-color: grey;
  /* grid-column: 1/-1; */
  text-align: center;
  /* justify-content: space-between; */
  height: 8em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

header ul{

  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  display: flex;
}
header nav{
 
  width: 100%;
  justify-content: space-between;
}
header li {
  
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

header li :first-child{
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(138,43,226,1) 100%);
border-radius: 5em;
padding: 1em;

}

header li :first-child:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
#main-content {
  font-family: 'indie flower', cursive;
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(138,43,226,1) 100%);
  width: 70%;
  height: 600px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  align-items: center;
  justify-content: center;

}

main h1{
  font-size: 60px;
  letter-spacing: 3px;
  position: relative;
  padding: 40px;
}

main h1 form{
  position: relative;
  margin:auto;
  top: auto;
  bottom: auto;
}

